.signUP__body {
  padding: 1% 3% 0 3%;
  background: url("../src/BelkaProject/Images/bg1.png") top center no-repeat,
    url("../src/BelkaProject/Images/bg2.png") right bottom no-repeat,
    url("../src/BelkaProject/Images/bg3.png") left bottom no-repeat,
    url("../src/BelkaProject/Images/bg4.png") right top no-repeat;
  background-size: 10%, 20%, 20%, 40%;
  background-color: rgb(247, 242, 242);
  background-blend-mode: overlay, overlay, overlay, darken;
  height: auto;
}

.or_line {
  display: flex;
  padding: 1rem;
}

.line {
  color: #000;
  width: 700px;
}

input[type=text] {
  margin-bottom: 2%;
  width: 50%;
}

.card {
  border-radius: 7%;
  border-color: transparent;
  width: 100%;
  background-color: #028b2e0d;
}

.hi {
  border-radius: 30px !important;
  box-shadow: -30px 17px 30px -20px rgba(0,0,0,0.75);
  -webkit-box-shadow: -30px 17px 30px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: -30px 17px 30px -20px rgba(0,0,0,0.75);  ;

}


.butting{
  border: none;
  color: #028B2E;
  background-color: #c9ddd3;
  border-radius: 5px;
}

.butting:hover{
  background-color: white;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: green;
  color: white;
  border-radius: 20px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: green;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* imageUploader */
.imageUploadingBox{
  border: 4px dashed green;
  padding: 20px;
  margin-bottom: 20px;
}

.imageuploadericon{
  font-size: 30px;
  color: green
}

.imageinput{
  border-color: transparent;
  align-self: center;
}

.trashcanIcon{
  color: rgb(230, 63, 63);
  font-size: 20px;
}

.downloadIcon:hover{
  color: rgb(14, 131, 14)
}

.deleteButtonHighSchoolAssist{
  border: none;
  background-color: transparent;
}
.link{
  text-decoration: none;
  color: #000 
}

.folderpicture{
width: 40px;
height: 40px;
border-radius: 9px;
margin-right: -5PX;
z-index: 99;
}

.dashboardpicture{
  width: 80px;
height: 80px;
border-radius: 50px;
margin-right: -10PX;
border: 1px #979797;
z-index: 1000;
position: relative;
}

.profileusersindicator{
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
}

.dashboarduserindicator{
  background-color: #fff;
  width: 40%;
  height: 50px;
  margin-top: 17px;
  margin-right: -10px;
  border-radius: 0 25px 25px 0;
  padding-left: 5px;
  padding: 17px;
  box-shadow: 5px 11px 13px -6px rgba(90,90,90,0.46);
-webkit-box-shadow: 5px 11px 13px -6px rgba(90,90,90,0.46);
-moz-box-shadow: 5px 11px 13px -6px rgba(90,90,90,0.46);
  
}

.chatter{
  height: 100%;
  justify-content: flex-end;
  overflow: none;
}

.chatbox{
  bottom: 0;
  height: fit-content;
}


@media screen and (min-width:  975px){
  .container-fluid{
    padding-left: 7%;
    background-color: #f1f1f2;
    height: 100vh;
  }


}

@media screen and (min-width: 510px) and (max-width:  974px){
  .container-fluid{
    padding-left: 15%;
  }

  .eventlisttable{
    width:150%;
  }
  .pagination-container{
    font-size: 80%;
  }
}

@media screen and (max-width: 509px){
  .container-fluid{
    padding-left: 20%;

  }

}

.navbar-brand{
  color:#028B2E;
  font-size: 200%;
}

.userlistimage{
  border-Radius: 10px;
  margin-right: 5px; 
  width: 30px;
  height: 30px;
}

.goegOO{
  padding: 0 !important;
  background-color: transparent !important;
  background: transparent;
  border: none;
}

.admin-profile-background-image{
  width: 396px;
}


.edited-image-sample{
  width: 100%;
}

@media screen and (max-width: 450px) {
  .signup-heading{
    width: 100%;
    margin-top: 0;
  }

  .signup-heading > h5{
    font-size: 15px;
  }

  .signup-heading > span{
    font-size: 12px;
    margin: 0;
  }

  .signup-form{
    width: 100%
  }

 .navbar-brand{
  font-size: 100%;
 }

 .loginheader>h5{
  font-size: 17px;
 }

 .loginheader>span{
  font-size: 13px;
 }

 .loginOptions{
  font-size: 10px;
}

.forgotpasswordheading>h6{
  font-size: 1px;
}

.forgotpassordheading>h6{
  font-size: 10px;
}
.forgotpassordheading{
  font-size: 12px;
}



.dasboardbody{
  font-size: 10px;
  margin-left: 10px;
  background-color: #f1f1f2;
}

.userlistbody{
  font-size: 10px;
  margin-left: 18px;
  background-color: #f1f1f2;
 
}

.userprofilebody{
  font-size: 10px;
  margin-left: 18px;
  background-color: #f1f1f2;
}

.dashboardbotton{
  font-size: 10px;
}

.userlistimage{
  width: 50%;
}

.d-line-flex>img{
  width: 30px;
  height: 30px;
}

.hi{
  font-size: 10px;
  background-color: transparent;
}

.userlistheader{
  flex-direction: column;
}

.usereprofileheader{
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}
.programmeattended{
  font-size: 60%;
  margin-left: 18px;
}

.searchinput{
  width: 200px;
  margin: 0;
}

.schedulebody{
  margin-left: 15px;
}

.schedulebody>h4{
  font-size: 20px;
}
.schedulecalendar{
  margin-left: 6px;
  padding: 5px;
  
}

.schedule-upper-buttons{
  font-size: 10px;
  padding: 3px;
}

.form-select{
  font-size: 10px; 
}

.calendarbuttons{
  border: none;
  font-size: 10px;
  padding: 3px;
}

.scheduleevent{
  font-size: 10px;
}

.eventlisttable{
  width: 200%;
  font-size: 10px;
}

.eventllist{
  margin-left: 12px;
  font-size: medium;
}
.eventllist>h3{
  font-size: 13px;
}

.eventllist>span{
  font-size: 13px;
}

.create_schedule-programme_btn{
  font-size: 10px;
}

.create-schedule-container{
  margin-left: 20px;
  font-size: 10px;
}
::placeholder{
  font-size: 13px;
}
.create-schedule-header>h3{
  font-size: 15px;
}
.create-schedule-button{
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.create-button-active{
color: #028B2E;
}

.create-schedule-control-button{
  padding: 5px;
  font-size: 13px;
}

.registration-body{
  margin-left: 12px;
  font-size: 10px;
}

.registration-table{
  width: 300%;
}

.registration-control-button{
  padding: 3px;
  font-size: 13px;
}

.registration-header>h3{
  font-size: 20px;
}

.registration-table-header{
  font-size: 13px;
}

.filemanager-container{
  margin-left: 17px;
  font-size: 10px;
}

.filemanager-header>h5{
  font-size: 13px;
}

.filemanager-addfolder-button{
  font-size: 10px;
}

.academicclass-assignment{
  margin-left: 15px;
  font-size: 10px;
}

.academicclassassignment-table{
  width: 200%;
}

.academicclass-assignment-header>h3{
  font-size: 13px;
}

.academicclass-assignment-button{
  padding: 3px;
  font-size: 10px;
}

.high-school-assistance-container{
  margin-left: 30px;
  font-size: 10px;
}

.trashcanIcon{
  font-size: 15px;
}

.highschoolassistance{
  flex-direction: row;
}

.highschoolassignment-button{
  font-size: 10px;
  padding: 3px;
}

.highschoolassignment-header{
  margin-bottom: 10px;
}

.highschoolassistance-header>h3{
  font-size: 15px;
}

.high-school-assignment-button{
  padding: 5px;
  font-size: 10px;
}

.admin-profile-container{
  margin-left: 17px;
  font-size: 10px;
}

.admin-profile-background-image{
  width: 210px;
  margin-top: 10px;
}

.adminprofile-icon{
  font-size: 15px;
  margin-bottom: 20px;
}

.edith-admin-profile-container{
  margin-left: 17px;
  font-size: 10px;
}

.edith-admin-profile-header>h3{
  font-size: 20px;
}

.edith-admin-profile-button{
  font-size: 10px;
  padding: 5px;
  width: 50%;
}

.edited_image-container{
  width: 70%;
  margin-left: 40px;
}

.edith-batch-plus{
  padding:6px;
}

.edit-admin-cancel-button{
  width: 100%;
  margin-right: 15px;
}

.edit-admin-save-button{
  font-size: 100%;
}

.edit-admin-cancel-button{
  font-size: 10px;
  padding: 5px;
}

.myteam_container{
  margin-left: 10px;
  font-size: 10px;
}

.myteam-header>h3{
  font-size: 15px;
}

.myteam-name-displaying-buton{
  font-size: 11px;
}

.search-input-container{
  padding: 2px;
  border: none;
  background-color: transparent;
}

.pagination-container{
  font-size: 10px;
}
}


.page-link{
  border: none;
  background-color: transparent;
  color: #484848;
}

.page-link.active{
  background-color: #028B2E !important;
  border-radius: 5px;
}

.activeClicked{
  background-color: red !important;
}

.pagination-container{
  width: 100%; 
}

.male-gender-batch{
    background-color: #e0f1f2;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: #149FC8;  
    text-align: center;
}
.female-gender-batch{
  background-color: #f8ddda;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  color: #EA6354; 
  text-align: center;
}

